<p> Name </p>
<p> Address </p>
<%= link_to "Add", new_site_path %>

<% count = 1 %>
<% @sites.each do | site | %>
  <%= site.name %>
  <%= site.address %>
  <%= link_to "View", site_path(site) %>
  <%= link_to "Edit", edit_site_path(site) %>
  <% count += 1 %>
<% end %>
