<%= @site.name %>
<%= @site.address %>

<p> Code </p>
<p> Name </p>
<p> Rate </p>
<%= link_to "Add", new_site_job_path(@site) %>

<% count = 1 %>
<% @site.jobs.each do | job | %>
  <%= job.code %>
  <%= job.name %>
  <%= job.rate %>
  <%= link_to "Edit", edit_site_job_path(@site, job) %>
  <% count += 1 %>
<% end >
