<% @user.errors.full_messages.each do |message| %>
  <p class="alert"><%= message %></p>
<% end %>

<%= form_for @user do |f| %>
<div>
  <p>
    <%= f.label "First" %>
    <%= f.text_field :fst_name %>
  </p>
  <p>
    <%= f.label "Last" %>
    <%= f.text_field :lst_name %>
  </p>
  <p>
    <%= f.label :username %>
    <%= f.text_field :username %>
  </p>
  <p>
    <%= f.label :password %>
    <%= f.password_field :password %>
  </p>
  <p>
    <%= f.label :email %>
    <%= f.email_field :email %>
  </p>
  <p>
    <%= f.label "Job" %>
    <%= f.select :job_code, @jobs.collect { |job | [job.name, job.code] } %>
  </p>
  <%= f.submit %>
</div>
<% end %>
