<table>
  <tr>
    <th>Date</th>
    <th>Job Site</th>
    <th>Hours</th>
    <th>Time In</th>
    <th>Time Out</th>
  </tr>
  <% count = 1 %>
  <% @logs.each do | log | %>
    <% if count.odd? %>
      <% color = "odds" %>
    <% else %>
      <% color = "even" %>
    <% end %>
    <tr class="<%= color %>">
      <td><%= log.date %></td>
      <td><%= log.site.name %></td>
      <td><%= Time.parse(log.updated_at.to_s) - Time.parse(log.created_at.to_s) %></td>
      <td><%= log.created_at.strftime("%I:%M:%S%p") %></td>
      <td><%= log.updated_at.strftime("%I:%M:%S%p") %></td>
    </tr>
    <% count += 1 %>
  <% end %>
</table>
