<% if current_user && current_user.is_admin %>
  <table>
    <tr>
      <th>Job Site</th>
      <th>Address</th>
      <th><%= link_to "Add", new_site_path %></th>
    </tr>
    <% count = 1 %>
    <% @sites.each do | site | %>
      <% if count.odd? %>
        <% color = "odds" %>
      <% else %>
        <% color = "even" %>
      <% end %>
      <tr class="<%= color %>">
        <td><%= site.name %></td>
        <td><%= site.address %></td>
        <td><%= link_to "View", site_path(site) %></td>
        <td><%= link_to "Edit", edit_site_path(site) %></td>
        <td><%= link_to "Delete", site_path(site),
                                  method: :delete, class: 'delete',
                                  :data => {:confirm => "Confirm Delete"} %></td>
      </tr>
      <% count += 1 %>
    <% end %>
  </table>

<% else %>
  <% @sites.each do | site | %>
    <%= link_to site.name, site_path(site) %>
  <% end %>
<% end %>
