<%= @site.name %>
<%= @site.address %>

<div class="rows">
  <p class="view_short"> Code </p>
  <p class="view_long"> Name </p>
  <p class="view_short"> Rate </p>
  <p class="view_link"> <%= link_to "Add", new_site_job_path(@site) %> </p>
</div>

<div>
  <% count = 1 %>
  <% @site.jobs.each do | job | %>
    <% if count.odd? %>
      <% viewor = "odds" %>
    <% else %>
      <% viewor = "even" %>
    <% end %>
    <div class="rows <%= viewor %> ">
      <p class="view_short"><%= job.code %> </p>
      <p class="view_long"><%= job.name %> </p>
      <p class="view_short"><%= job.rate %> </p>
      <p class="view_link"><%= link_to "Edit", edit_site_job_path(@site, job) %> </p>
      <p class="view_link"><%= link_to "Delete", site_job_path(@site, job),
                                        method: :delete, class: 'delete',
                                        :data => {:confirm => "Confirm Delete"}%> </p>
    </div>
    <% count += 1 %>
  <% end %>
</div>
