<% if current_user && current_user.is_admin %>

  <table>
    <tr>
      <th>Code</th>
      <th>Name</th>
      <th>Rate</th>
      <th><%= link_to "Add", new_site_job_path(@site) %></th>
    </tr>
    <% count = 1 %>
    <% @site.jobs.each do | job | %>
      <% if count.odd? %>
        <% color = "odds" %>
      <% else %>
        <% color = "even" %>
      <% end %>
      <tr class="<%= color %>">
        <td><%= job.code %></td>
        <td><%= job.name %></td>
        <td><%= job.rate %></td>
        <td><%= link_to "Edit", edit_site_job_path(@site, job) %></td>
        <td><%= link_to "Delete", site_path(@site, job),
                                  method: :delete, class: 'delete',
                                  :data => {:confirm => "Confirm Delete"} %></td>
      </tr>
      <% count += 1 %>
    <% end %>
  </table>

<% else %>
  <% if current_user.clocked_in %>
    <%= link_to "Clock Out", clock_out_site_path(@site), method: :put %>
  <% else %>
    <% if !current_user.logs.exists?(:date => Date.today) %>
      <%= link_to "Clock In", clock_in_site_path(@site), method: :post %>
    <% end %>
  <% end %>
<% end %>
